body{
    background-color: rgb(220, 43, 226);
color: black;
font-family: "Playpen Sans", cursive;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;


}


button{
background-color: darkblue;
color: blueviolet;


}